.formContainer {
display: flex;
flex-direction: row;
justify-content: space-between;
color:white;
margin: 5rem;
padding:2rem;
border-radius: 16px;
gap:2rem;
background-color: #495E57;
width: 20rem;
flex-wrap: wrap;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.submitButton{
    margin: 0px auto;
    background-color: #F4CE14;
    padding: 2rem;
    border-radius: 16px;
    text-decoration: none;
    color:black;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 64px;
    font-family: "Markazi Text";
}

